* {
  box-sizing: border-box;
  margin: 0 auto;
}
.section-1,
.section-2 {
  display: flex;
  border: 2px solid black;
  height: 150px;
}
.box-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 40%;
}
.box-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  width: 40%;
}
.box {
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: red;
}
.box3 {
  background-color: yellowgreen;
}
.box4 {
  background-color: skyblue;
}
.section-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 150px;
  gap: 160px;
}
.section-3 .box-left {
  width: 28%;
  border: 2px solid black;
  background-color: dimgrey;
  height: 100px;
  margin-left: 190px;
}
.section-3 .box-right {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.section-3 .box-right .box1 {
  background-color: brown;
  margin-right: 100px;
}
.section-3 .box-right .box2 {
  background-color: darkslateblue;
  margin-right: 100px;
}
.section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-2 .box {
  width: 300px;
  height: 100px;
  border: solid 2px black;
}

.section-2 .box-left {
  background-color: chocolate;
}

.section-2 .box-right {
  background-color: cornflowerblue;
}

.section-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 150px;
  gap: 160px;
}

.section-4 .box-left {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}

.section-4 .box-left .box1 {
  background-color: lime;
}
.section-4 .box-left .box2 {
  background-color: turquoise;
}

.section-4 .box-right {
  width: 28%;
  border: 2px solid black;
  background-color: green;
  height: 100px;
  margin-left: 190px;
}
.section-5 {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.section-5 .box {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}
.section-5 .box1 {
  background-color: green;
}
.section-5 .box2 {
  background-color: darkslategray;
}
.section-5 .box3 {
  background-color: lightgreen;
}

.section-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  gap: 20px;
  border: 2px solid pink;
}
.center {
  display: flex;
  gap: 40px;
}
.section-6 .box {
  width: 100px;
  height: 100px;
}

.center .box1 {
  background-color: cornflowerblue;
}
.center .box2 {
  background-color: olive;
}
